mixin blockBox(data)
	.block-box
		.block-box-image
			img(src=data.src, alt="")
		.block-box-content(style="background-color:"+data.backgroundColor)
			h3.block-box-content-heading= data.title
			p.block-box-content-desc= data.desc

mixin menu(data, submenuInLeft)
	if(data)
		if submenuInLeft
			ul.submenuInLeft
				each val, key in data
					li
						a(href="#")= val.name
						if(val.subMenu)
							+menu(val.subMenu, val.submenuInLeft)
		else
			ul
				each val, key in data
					li
						a(href="#")= val.name
						if(val.subMenu)
							+menu(val.subMenu, val.submenuInLeft)
		

mixin button_menu_nav(data)
	if(data)
		.component 
			a(href="#")= data.text
			+menu(data.menu, data.submenuInLeft)